<!DOCTYPE html> 
{%extends 'blog/base.html'%} 
{%block title %}SAPAN'S BLOG{%endblock%} 
{%block content%} 
<h1>Sapan's Blog</h1> 
{%for post in post_list %} 
<a href="{{post.get_absolute_url}}">{{post.title}}</a> </h2> 
<p id='date'>Published on {{post.publish}} by {{post.author|title}}</p> 
{{post.body|truncatewords:30|linebreaks}}
{%endfor%} 
<!--{% include 'blog/pagination.html' with page=post_list%} this is for function based view-->
{% include 'blog/pagination.html' with page=page_obj%}<!--Class based view-->
{%endblock%}